*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-heading{
    padding: 1rem;
}

.filters{
    padding: 0.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: start;
}

.filter-by-duration{
    width: 40%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    border-right: 1px solid black;
}

#duration-filter-select{
    width: 60%;
}

.filter-by-category{
    width: 40%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
}

#category-filter-select{
    width: 60%;
}

.duration-clear{
    color: rgb(82, 82, 252);
    cursor: pointer;
    padding: 0.825rem;
}

.category-clear{
    color: rgb(82, 82, 252);
    cursor: pointer;
    padding: 0.825rem;
}

@media screen and (max-width: 700px){
    .filters{
        flex-direction: column;
    }

    .filter-by-duration{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
    }

    .filter-by-category{
        width: 100%;
    }
}