*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.details{
    padding: 1rem;
}

.status{
    padding: 1rem;
}

.adventure-details-card{

}

footer{
    width: 100%;
    text-align: center;
    padding: 1rem;
}