*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-image{
    width: 100%;
    height: 65vh;

    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/images/hero.jpg');
    background-position: center;
    background-size: cover; 
}

.hero-image > p, .hero-image > h1{
    padding: 0.6rem; 
}

.hero-image > input{
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.825rem;
    width: 80%;
    max-width: 500px;;
}

.city-card{
    width: 100%;
    margin: auto;
    height: 360px;
    max-width: 280px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.city-card img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
    transition: all 400ms ease-in-out;
}

.city-card img:hover{
    transform: scale(1.2);
    filter: brightness(50%);
}

.city-card .content{
    position: absolute;
    text-align: center;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 3;
}


footer{
    width: 100%;
    text-align: center;
    padding: 1rem;
}